.bottom-cards-wrap{

    display: flex;            
    overflow: hidden;        
    width: 100%;   
    position: relative; 
    justify-content: center;

    .bottom-inside{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        


        .main-slide{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition: transform 0.5s ease;
            position: relative;
            margin: auto 3em 3em;
            z-index: 1;
      
    }


    .main-card-wrap{
        margin: 14px;
        border: 2px solid black;
        width: 250px;
        height: 18em;
        border-radius: .3em;
       
        
        .text-block-main{
            padding: 10px;
            height: 100%;
            overflow-y: auto;

            &::-webkit-scrollbar{
                background: rgb(183, 183, 219);
                width: 13px;
                cursor: pointer;
                
            }

            &::-webkit-scrollbar-thumb{
                background-color: #09024d;;
                border-radius: 10px;
              
            }
            &::-webkit-scrollbar-thumb:hover {
                background-color: #33289b; 
                // цвет ползунка при наведении
            }

        
            &::-webkit-scrollbar-button:start:decrement{
                background: url('https://img.icons8.com/fluency/18/collapse-arrow.png') no-repeat center center;
                height: 18px;
            }

            &::-webkit-scrollbar-button:end:increment{
                background: url('https://img.icons8.com/fluency/18/expand-arrow.png') no-repeat center center;
                height: 18px;
            }


            h5{
                text-align: center;
                margin: 15px;
                @include frontPageFont(23px, 20px);
            }

            p{
                @include frontPageFont(15px, 20px);
        
            
            }
          

            img{
                border: 2px solid black;
                float: left;
                width: 80px;
                height: 80px;
                margin-right: 10px;
            }

        }
    }

}


.arrows-slides{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    z-index: 100;

    img{
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* IE10+/Edge */
        user-select: none; 
        pointer-events: auto;
    }

    img:nth-child(1){
    position: relative;
    left: .5em;    
    transform: rotate(-90deg);
    cursor: pointer;
    bottom: 2em;
    }
    
    img:nth-child(2){
        position: relative;
        right: .5em;    
        transform: rotate(90deg);
        cursor: pointer;
        bottom: 2em;
        }
  
}
.turn-arrow{
    transform: rotate(90deg) !important;
    transition: all 0.7s ease !important;

}
.bring-arrow-back{
    transform: rotate(-90deg) !important;
    transition: all 0.7s ease !important;
}

    

}