.bottom-cards-wrap{


    .main-card-wrap{
        margin: 20px;
        border: 2px solid black;
        width: 20em;
        height: 17em;
        border-radius: .3em;
        display: flex;

        .picture-block-main{
            border: 2px solid red;
            width:60em;
        }


        .text-block-main{
            font-size: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap:20px;

        }






    }

}