@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Handjet:wght@500&family=REM:ital,wght@1,200&display=swap");
.main-container {
  margin: 0 auto auto;
  height: 40em;
  width: 70em;
  border-radius: 5px;
  margin-bottom: 30vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 15em 15em 20em;
}
.main-container .inner {
  box-shadow: 0px 0px 5px black;
  border-radius: 0.3em;
  background-color: rgb(253, 253, 253);
}
.main-container .hero-image {
  background-image: url("https://i.ibb.co/jzy6y3X/istockphoto-529179163-612x612.jpg");
  background-size: cover;
  background-position: center;
  padding: 18em 0 10em;
  grid-row: 1/span 2;
  grid-column: 1/span 5;
}
.main-container .hero-image > h3 {
  color: #808080;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  mix-blend-mode: hard-light;
  line-height: 1.2em;
  width: 85%;
  margin-left: 5.5rem;
  background-image: linear-gradient(45deg, transparent 5%, rgb(0, 0, 0) 50%), linear-gradient(-45deg, transparent 5%, rgb(0, 0, 0) 50%);
  background-size: 50% 100%;
  background-position: left, right;
  background-repeat: no-repeat;
  position: relative;
}
.main-container .hero-image span {
  position: relative;
  left: 0.3em;
}
.main-container .login-form {
  grid-row: 1/span 1;
  grid-column: 6/span 2;
  min-width: 350px !important;
}
.main-container .bar {
  grid-row: 2/span 1;
  grid-column: 6/span 2;
}
.main-container .bottom-cards {
  grid-row: 3;
  grid-column: 1/span 6;
  width: 935px !important;
}
.main-container .track-form {
  grid-row: 3;
  grid-column: 7/span 1;
  width: 180px !important;
}

.form_wrap_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 0px 0px 2rem;
  gap: 20px;
  height: 11em;
  position: relative;
}
.form_wrap_inner .name_form_piece:nth-of-type(2) {
  position: relative;
  bottom: 2em;
}
.form_wrap_inner .name_form_piece {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.form_wrap_inner .name_form_piece input {
  width: 15rem;
  padding: 0.2rem;
  border: 0.5px solid rgb(119, 119, 149);
  border-radius: 0.25em;
  flex: 0 0 auto;
}
.form_wrap_inner .name_form_piece input:focus {
  outline: none;
  border: 2.5px solid rgb(68, 68, 121);
}
.form_wrap_inner .name_form_piece label {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 0.8em;
  font-size: 1.2rem;
}
.form_wrap_inner .submit_login_container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  top: 8.8em;
  position: absolute;
}
.form_wrap_inner .submit_login_container .btn {
  padding: 0.5em;
  border: 1px solid rgb(126, 126, 155);
  border-radius: 0.2em;
  color: white;
  cursor: pointer;
  font-size: medium;
  font-family: "Handjet", cursive;
  line-height: 0.8em;
  box-shadow: 0px 0px 2.4px 0px black;
  background-image: linear-gradient(#57b, #148);
  transition: transform 0.1s ease-in;
}
.form_wrap_inner .submit_login_container .btn:active {
  transform: scale(0.96);
}

.trackbar {
  text-align: center;
}
.trackbar .trackbar-inner {
  margin-top: 0.8em;
  color: rgb(6, 24, 83);
  font-size: 23px;
  line-height: 38px;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.trackbar .trackbar-inner h3 {
  font-weight: bold !important;
}
.trackbar .trackbar-inner .daily-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 2em;
  position: relative;
  width: 16em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.trackbar .trackbar-inner .daily-calendar .plus-minus-question {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  bottom: 5.5em;
  left: 12.5em;
}
.trackbar .trackbar-inner .daily-calendar .plus-minus-question button {
  width: 1.2em;
  height: 2em;
  background-image: linear-gradient(#57b, #148);
  border: none;
  color: whitesmoke;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
}
.trackbar .trackbar-inner .daily-calendar .plus-minus-question button:active {
  transform: scale(0.96);
}
.trackbar .trackbar-inner .daily-calendar .number-input {
  position: absolute;
  bottom: 4.2em;
  left: 9.1em;
  background-color: 255;
}
.trackbar .trackbar-inner .daily-calendar .number-input input[type=range] {
  cursor: pointer;
  width: 10em;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
}
.trackbar .trackbar-inner .daily-calendar .number-input input[type=range]::-webkit-slider-runnable-track {
  background: #e5e5e5;
  height: 0.4rem;
  border-radius: 4em;
}
.trackbar .trackbar-inner .daily-calendar .number-input input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -7px;
  background-color: #103e92;
  height: 1.2rem;
  width: 0.35rem;
  border-radius: 0.15em;
}
.trackbar .trackbar-inner .daily-calendar input[type=date] {
  position: relative;
  top: 0.8em;
  right: 0.1em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-radius: 0.5em;
  border: 0.5px solid rgb(119, 119, 149);
  font-family: "Handjet", cursive;
  font-size: medium;
  width: 200px;
}
.trackbar .trackbar-inner .daily-calendar input[type=date]:focus {
  outline: none;
  border: 2.5px solid rgb(68, 68, 121);
}
.trackbar .trackbar-inner .daily-calendar .progress-circle {
  width: 100px;
  height: 100px;
  position: relative;
  margin-bottom: -30px;
  overflow: visible;
  bottom: 1.5em;
  right: 0.7em;
}
.trackbar .trackbar-inner .daily-calendar .progress-circle .outer {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  border: 0.2px solid rgb(243, 243, 243);
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.trackbar .trackbar-inner .daily-calendar .progress-circle .inside {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: inherit;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgb(255, 255, 255), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
.trackbar .trackbar-inner .daily-calendar .progress-circle .inside #count-number {
  font-weight: 500;
  color: rgb(27, 27, 116);
  font-size: 30px;
  position: relative;
  left: 0.2em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: Handjet;
}
.trackbar .trackbar-inner .daily-calendar .progress-circle .svg-1 {
  position: absolute;
  top: -0.09em;
  left: -0.9em;
}
.trackbar .trackbar-inner .daily-calendar .progress-circle .svg-1 .circ {
  fill: none;
  stroke: linear-gradient(to right red, blue);
  stroke-width: 10.5px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}
.trackbar .trackbar-inner .submit-lookup {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
  left: 9.1em;
  bottom: 1.5em;
}
.trackbar .trackbar-inner .submit-lookup .btn {
  padding: 0.5em;
  border: 1px solid rgb(126, 126, 155);
  border-radius: 0.2em;
  color: white;
  cursor: pointer;
  font-size: medium;
  font-family: "Handjet", cursive;
  line-height: 0.8em;
  box-shadow: 0px 0px 2.4px 0px black;
  background-image: linear-gradient(#57b, #148);
  transition: transform 0.1s ease-in;
}
.trackbar .trackbar-inner .submit-lookup .btn:active {
  transform: scale(0.96);
}

.bottom-cards-wrap {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
  justify-content: center;
}
.bottom-cards-wrap .bottom-inside {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-cards-wrap .bottom-inside .main-slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: auto 3em 3em;
  z-index: 1;
}
.bottom-cards-wrap .bottom-inside .main-card-wrap {
  margin: 14px;
  border: 1px solid rgb(11, 6, 73);
  box-shadow: 0px 0px 3px rgb(6, 53, 111);
  width: 250px;
  height: 18em;
  border-radius: 0.3em;
}
.bottom-cards-wrap .bottom-inside .main-card-wrap .text-block-main {
  padding: 7px;
  height: 100%;
  overflow-y: auto;
}
.bottom-cards-wrap .bottom-inside .main-card-wrap .text-block-main::-webkit-scrollbar {
  background: rgb(183, 183, 219);
  width: 13px;
  cursor: pointer;
}
.bottom-cards-wrap .bottom-inside .main-card-wrap .text-block-main::-webkit-scrollbar-thumb {
  background-color: #09024d;
  border-radius: 10px;
}
.bottom-cards-wrap .bottom-inside .main-card-wrap .text-block-main::-webkit-scrollbar-thumb:hover {
  background-color: #33289b;
}
.bottom-cards-wrap .bottom-inside .main-card-wrap .text-block-main::-webkit-scrollbar-button:start:decrement {
  background: url("https://img.icons8.com/fluency/18/collapse-arrow.png") no-repeat center center;
  height: 18px;
}
.bottom-cards-wrap .bottom-inside .main-card-wrap .text-block-main::-webkit-scrollbar-button:end:increment {
  background: url("https://img.icons8.com/fluency/18/expand-arrow.png") no-repeat center center;
  height: 18px;
}
.bottom-cards-wrap .bottom-inside .main-card-wrap .text-block-main h5 {
  text-align: center;
  margin: 15px;
  height: 40px !important;
  color: rgb(6, 24, 83);
  font-size: 23px;
  line-height: 20px;
  font-weight: 600;
}
.bottom-cards-wrap .bottom-inside .main-card-wrap .text-block-main p {
  color: rgb(6, 24, 83);
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  text-indent: 1em;
  line-height: 23px;
  text-align: justify;
  word-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
  white-space: pre-line;
}
.bottom-cards-wrap .bottom-inside .main-card-wrap .text-block-main img {
  box-shadow: 0px 0px 3px rgb(4, 4, 54);
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
  position: relative;
  left: 2px;
}
.bottom-cards-wrap .arrows-slides {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  z-index: 5;
}
.bottom-cards-wrap .arrows-slides img {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */ /* IE10+/Edge */
  user-select: none;
  pointer-events: auto;
}
.bottom-cards-wrap .arrows-slides img:nth-child(1) {
  position: relative;
  left: 0.5em;
  transform: rotate(-90deg);
  cursor: pointer;
  bottom: 2em;
}
.bottom-cards-wrap .arrows-slides img:nth-child(2) {
  position: relative;
  right: 0.5em;
  transform: rotate(90deg);
  cursor: pointer;
  bottom: 2em;
}
.bottom-cards-wrap .turn-arrow {
  transform: rotate(90deg) !important;
  transition: all 0.7s ease !important;
}
.bottom-cards-wrap .bring-arrow-back {
  transform: rotate(-90deg) !important;
  transition: all 0.7s ease !important;
}

.social-media-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5em;
  align-items: center;
  width: 100%;
  height: 100%;
}
.social-media-main h4 {
  color: rgb(6, 24, 83);
  font-size: 23px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  top: 1.6em;
}
.social-media-main section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgb(14, 7, 155), rgb(11, 72, 142), white);
  border-radius: 50%;
  width: 160px !important;
  height: 160px !important;
  box-shadow: 0px 0px 5px black;
}
.social-media-main section li {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.open-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  box-sizing: border-box;
}
.open-modal .blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 11, 11, 0.78);
  z-index: 20;
}
.open-modal .blurclose {
  animation: blurring 300ms linear;
  animation-fill-mode: backwards;
}
@keyframes blurring {
  0% {
    background: rgba(11, 11, 11, 0.78) !important;
  }
  100% {
    background: rgba(11, 11, 11, 0.1) !important;
  }
}
.open-modal .main-track-open, .open-modal .main-track-close {
  width: 65%;
  height: 65%;
  margin-bottom: 0px;
  background-color: white;
  position: relative;
  z-index: 60;
}
.open-modal .main-track-open .inner-modal, .open-modal .main-track-close .inner-modal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% 85%;
  min-height: 100%;
  min-width: 90%;
}
.open-modal .main-track-open .inner-modal .top-wrapper, .open-modal .main-track-close .inner-modal .top-wrapper {
  grid-column: 1/span 3;
  grid-row: 1;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  border-bottom: 2px solid black;
}
.open-modal .main-track-open .inner-modal .top-wrapper h4, .open-modal .main-track-close .inner-modal .top-wrapper h4 {
  position: relative;
  top: 5px;
  left: 2%;
  flex: 10;
  color: rgb(6, 24, 83);
  font-size: 35px;
}
.open-modal .main-track-open .inner-modal .top-wrapper .cross-close, .open-modal .main-track-close .inner-modal .top-wrapper .cross-close {
  position: absolute;
  font-size: 40px;
  font-weight: 600;
  line-height: 8px;
  padding: 5px 0px 14px;
  right: 1%;
  display: flex;
  align-items: center;
  cursor: pointer;
  top: 5px;
  right: 8px;
}
.open-modal .main-track-open .inner-modal .top-wrapper .cross-close:hover, .open-modal .main-track-close .inner-modal .top-wrapper .cross-close:hover {
  transform: rotate(180deg);
  transition: transform 1s ease-in-out;
}
.open-modal .main-track-open .inner-modal aside:nth-of-type(1), .open-modal .main-track-close .inner-modal aside:nth-of-type(1) {
  grid-row: 2;
  grid-column: 1/span 2;
}
.open-modal .main-track-open .inner-modal aside:nth-of-type(2), .open-modal .main-track-close .inner-modal aside:nth-of-type(2) {
  grid-row: 2;
  grid-column: 3;
  border-left: 2px solid black;
}

.main-track-open {
  animation: pop-up 300ms linear;
  animation-fill-mode: backwards;
}
@keyframes pop-up {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.main-track-close {
  animation: pop-upnone 300ms linear;
  animation-fill-mode: backwards;
}
@keyframes pop-upnone {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

.close-modal {
  display: none;
}

.footer {
  background-color: rgb(40, 75, 149);
  height: 2.5em;
  display: block;
}
.footer .footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-wrap section:nth-child(1) {
  position: relative;
  left: 3em;
  top: 8px;
  display: flex;
  justify-content: center;
  gap: 2px;
}
.footer .footer-wrap section:nth-child(1) div {
  position: relative;
  top: 1px;
  cursor: pointer;
}
.footer .footer-wrap section:nth-child(1) h6 {
  margin-right: 8px;
  color: white;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}
.footer .footer-wrap section:nth-child(2) {
  color: white;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  right: 3em;
  top: 7px;
}/*# sourceMappingURL=main.css.map */