.footer{
    background-color: rgb(40, 75, 149);
    display: block;;

    .footer-wrap{
        display: flex;
        justify-content: center;
        align-items: center;

        section{


        }

    }
}